@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

:root {
	--font-product-name: "Archivo Black";
	--bodytext-font-family: "Ubuntu";
	--bodytext-font-size: 16px;
	--bodytext-line-height: 150%;
	--min-height-msgtext: 150px;
	--min-width-msgtext: 550px;
	--debugging-border: 1px dotted lavender;  /* 10/13/24 by DW */
	--prompt-color: slategray;
	}

body {
	background-color: white;
	}
.divPageBody {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	margin-bottom: 400px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	}
.divLoggedInMessage {
	margin-top: 10px;
	text-align: center;
	}
.spMenuProductName {
	font-family: var(--font-product-name);
	font-size: 32px;
	letter-spacing: -1px;
	margin-top: 4px;
	opacity: 0.7;
	color: black;
	}
.divSignedOff {
	margin-top: 200px;
	line-height: 200%;
	text-align: center;
	}
.divEditor {
	width: 100%;
	border: 1px solid silver;
	background-color: whitesmoke;
	min-height:  150px;
	}
.divEditor textarea {
	width: 100%;
	font-family: var(--bodytext-font-family);
	font-size: var(--bodytext-font-size);
	line-height: var(--bodytext-line-height);
	padding-left: 5px; /* 2/25/25 by DW */
	padding-right: 2px;
	min-height:  150px;
	min-width:  550px;
	border: 1px solid gainsboro;
	overflow: hidden;
	background-color: white;
	margin-bottom: 0;
	}
.divEditor .editing {
	}
.divEditor .editing:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	background-color: white;
	}

.divButtons {
	margin-top: 10px;
	text-align: right;
	}

.divSitelist {
	font-size: 15px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid silver;
	background-color: white;
	padding: 3px;
	}
.divSitelist td {
	min-width: 100px;
	}
.divSitelist .spSitename {
	cursor: pointer;
	margin-right: 1em;
	}
.divSitelist .spSitedate {
	margin-right: 1em;
	}
.divSitelist td:hover {
	text-decoration: underline;
	}

.divLeftJustifiedButtons {
	float: left;
	}
.spChooseSite {
	float: left;
	}
.divLeftCell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
.divRightCell {
	width: 270px;
	text-align: right;
	float: right;
	margin-top: 5px;
	}

.divButtonLine {
	display: flex;
	width: 750px;
	justify-content: space-between;
	margin-top: 5px;
	font-size: 14px;
	}
.divLeftButtons {
	flex: 1;
	}
.divRightButtons {
	flex: 1;
	text-align: right;
	}

.spLastSiteChosen {
	display: inline-block;
	margin-top: 3px;
	margin-left: 3px;
	}

.divDraftDataViewer {
	margin-top: 25px;
	width: 100%;
	white-space: pre;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid silver;
	overflow: auto;
	}
.divEditorContainer {
	width: 100%;
	flex: 0 0 750px;
	}

.divEditorContainer .divTopLine {
	display: flex;
	width: 100%;
	}
.divEditorContainer .divTopLine .divTitle {
	width: 500px;
	flex: 0 0 500px;
	font-weight: bold;
	font-size: 18px;
	padding: 3px;
	height: 21px;
	margin-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
.divEditorContainer .divTopLine .divTitle:hover {
	cursor: pointer;
	}
.divEditorContainer .divTopLine .divStatus {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
	}

.divLeftButtons button {
	margin-right: 10px;
	}
.divRightButtons button {
	margin-left: 10px;
	}

.divStatus .divSavingMessage {
	font-size: 13px;
	color: var(--prompt-color);
	margin-top: 10px;
	}

/* styles for phone, tablet */
	@media screen and (max-width: 1024px) {
		.divPageBody {
			width: 95%;
			margin-top: 80px;
			}
		}
	
